/* table */
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
vertical-align: middle;
}

/*スクロール用*/
thead#scrollHead, tbody#scrollBody {
  display: block;
}

tbody#scrollBody {
  overflow-y: scroll;
  height: 600px;
}

.check_table .hover_tr td,
.radio_table .hover_tr td {
  background-color: #fff1a5;
  color: #333;
}
.check_table .checked_tr td,
.radio_table .checked_tr td {
  background-color: #fff1a5;
}
